body {
    background-color: rgb(202, 223, 223);
}

button {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

h1 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-size: 40px;
    margin-bottom: 15px;
}

#controls {
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

ul {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}

li {
    margin-bottom: 3px;
}
